---
permalink: /about/
title: "Bio"
author_profile: true
redirect_from: 
  - /about.html
---

{% include base_path %}

Here is a longer bio.

As of September 2020, I am a PhD student in statistics at Harvard, advised by Prof. Xiao-Li Meng and with the support of a Fulbright Future Scholarship.

My primary research interest is currently statistical privacy – in particular differential privacy, other formal privacy methods and disclosure limitation more generally. I am also a member of the AI and Global Development Lab. Previously, I was a researcher in the Data Access and Confidentiality Methods Unit at the Australian Bureau of Statistics. My research has been recognised through the Ken Foreman award and 2020 International Association for Official Statistics Young Statistician Prize. In 2020, I was also on secondment to the Covid-19 Taskforce at the Australian Department of the Prime Minister and Cabinet.

See IAOS's interview with me about DP at National Statistical Offices or a short profile of me on the ABS's LinkedIn page.


Back in 2020, I did some interviews...
More recently, I was approached by media to talk about leaving US academia.

This website was last substantivelly updated on November 7, 2025.

{% include contact.html %}
