---
permalink: /
title: ""
excerpt: "Home"
author_profile: true
redirect_from: 
  - /home/
  - /home.html
---

<p class="about-intro">I am a <em>Doktor</em> (i.e. postdoc) in the Division of Data Science and AI, Chalmers University of Technology, where I am a part of the <a href="https://aidevlab.org/", target="_blank">AI & Global Development Lab</a>.</p>

I received my PhD in statistics from Harvard University in 2025 under the advisorship of <a href="https://statistics.fas.harvard.edu/people/xiao-li-meng", target="_blank">Prof. Xiao-Li Meng</a>. For a longer bio, see <a href="about/">here</a>.


<h2 id="research">Research</h2>
My research can be broadly divided into three strands:
<ol>
	<li><em>Statistical Methodology for Sustainable Development:</em> This work is centred on the substantive problem of understanding poverty, living conditions and wealth via satellite imaging, along with the downstream applications such an understanding can enable. I develop methods for valid statistical inference in this setting.	This often involves combining &ldquo;black box&rdquo; models (e.g., vision transformers, convolutional neural nets) with some type of statistical correction (e.g., multiple imputation, conformal prediction), so that downstream users have measurements of poverty that come with statistical guarantees and/or uncertainty quantification.</li>
	<li><em>Statistical Data Privacy:</em> The "big picture" challenge in this field is to publish data without compromising the privacy of the people who provided that data. My research investigates some of the questions that naturally arise in the process of tackling this challenge: how can data be protected, how does this protection affect statistical inference, how can this protection be measured and how should technical measures of protection&mdash;particularly differential privacy&mdash;be defined and interpreted? Motivated by my time at the Australian Bureau of Statistics, much of my work in this area is focussed on the context of official statistics and survey data.</li>
	<li><em>Foundations of Inference and Learning:</em> I have an interest in the philosophy and foundational underpinnings of statistics. Along these lines, I have done a little work on reciprocal learning, imprecise probabilities, elicitation and their connections to machine learning.</li>
</ol>

<h2 id="updates">Updates</h2>
<ul class="updates-list">
	{% for post in site.updates reversed %}
 		{% include archive-single-update.html %}
	{% endfor %}
</ul>

{% include contact.html %}