---
layout: archive
title: "Selected papers (by topic)"
tab_title: "Papers"
permalink: /papers/
author_profile: true
---

{% include base_path %}

{% include buttons-for-detail.html %}
<script>
	document.querySelector('.page__title').classList.add('header-with-buttons');
	document.querySelector('.button-expand-container').classList.add('button-expand-container-aligned');
</script>

<div class="wordwrap"><a href="/papers_all/">See here for a full list of my papers.</a></div>

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.papers reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.papers reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<br>
<p class="archive__item-excerpt">\(^\dagger\) indicates alphabetical ordering of authors.</p>
<!--<p class="archive__item-excerpt">\(^\dagger\) indicates alphabetical ordering of authors and \(^*\) equal contribution.</p>-->

