---
layout: archive
title: "Papers"
tab_title: "Papers (All)"
permalink: /papers_all/
author_profile: true
---

{% include base_path %}

{% include buttons-for-detail.html %}
<script>
	document.querySelector('.page__title').classList.add('header-with-buttons');
	document.querySelector('.button-expand-container').classList.add('button-expand-container-aligned');
</script>

{% for post in site.papers reversed %}
  {% include archive-single.html %}
{% endfor %}


<br>
<p class="archive__item-excerpt">\(^\dagger\) indicates alphabetical ordering of authors.</p>
{% comment %}<!--<p class="archive__item-excerpt">\(^\dagger\) indicates alphabetical ordering of authors and \(^*\) equal contribution.</p>-->{% endcomment %}