{% if page.title %}
	<h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
{% endif %}
					
{% if page.collection == 'papers' %}
	{% include buttons-for-detail.html %}
	<script>
		document.querySelector('.page__title').classList.add('header-with-buttons');
		document.querySelector('.button-expand-container').classList.add('button-expand-container-aligned');
	</script>
	<br>
{% endif %}

{% if page.read_time %}
  <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
{% endif %}
{% if page.modified %}
  <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time></p>
{% endif %}

{% if page.collection == 'teaching' %}
	{% if page.code %}
		{{ page.code }}<br>
	{% endif %}
  {{ page.role }}, {{ page.type }}, <i>{{ page.venue }}</i><br>
	Taught:
	{% if page.when_taught_long %}
		{{ page.when_taught_long }}
	{% else %}
		{{ page.when_taught }}
	{% endif %}
{% elsif page.collection == 'papers' %}

	{% assign authors_long_formatted = page.authors_long | replace: "!!me!!", "James Bailie" %}
	
	{% if page.venue %}
		{% assign byline = authors_long_formatted | append: ".<br>" %}
		{% if page.to_appear %}
			{% assign byline = byline | append: "To appear in " %}
		{% endif %}
		{% assign byline = byline | append: "<i>" | append: page.venue | append: "</i>, " %}
		{% else %}
		{% assign byline = authors_long_formatted | append: ", " %}
	{% endif %}

	{% assign year = page.date | date: "%Y" %}
	{% assign byline = byline | append: year | append: "." %}
	{{ byline }}
{% endif %}