.icon-pad-right-left {
  padding-right: 0.5em;
  margin-right: 0.35em;
  margin-left: 0.15em;
}

html[data-theme="dark"] .fa-github {
  color: #ffffff;   
}

.social-icons .ai-orcid, .social-icons .ai-orcid-square {
  color: #000000;   
}

html[data-theme="dark"] .social-icons .ai-orcid, .social-icons .ai-orcid-square {
  color: #ffffff;   
}

.author__name-custom {
  composes: author__name;
  color: #b32004;
}

html[data-theme="dark"] .author__name-custom {
  color: #ffffff;   
}

.author__icon-custom {
  width: 20px;            /* size you want */
  height: 20px;
  vertical-align: middle; /* aligns with text */
  margin-right: 6px;      /* spacing before text */
  position: relative;
  bottom: 2.3px;  
}

.author__bio {
	font-weight: bold;
}






