

html[data-theme="dark"] {
	--global-bg-color: #102951;
	--global-bg-color-light: #1a3f69;
	--global-footer-bg-color: #2c384c;
	
	--author-content-custom-color: var(--global-text-color);
}

:root {
	--global-bg-color: #a9bbc9;
	--global-bg-color-light: #E9F4F8;
	--global-footer-bg-color: #ced7de;

	--global-text-color-light: #7a8288;
	--global-link-color: #921800;
	--global-text-color: #1f2124;
	
	/*
	--global-border-color: #454A4F;
	--global-border-color: #bdc1c4;
	*/
	--global-border-color: #7b7d7f;
	
	
	--global-masthead-link-color: var(--global-link-color);
	--author-content-custom-color: var(--global-link-color);
	
	--abstract-border-color: #52adc8;
	--abstract-background-color: #eff6ff;
	--abstract-color: #494e52;
}