.icon-pad-right-left {
  padding-right: 0.5em;
  margin-right: 0.35em;
  margin-left: 0.15em;
}

html[data-theme="dark"] .fa-github {
  color: var(--global-text-color);   
}

.social-icons .ai-orcid, .social-icons .ai-orcid-square {
  color: var(--global-text-color);   
}

html[data-theme="dark"] .social-icons .ai-orcid, .social-icons .ai-orcid-square {
  color: var(--global-text-color);   
}

.author__content-custom {
  composes: author__content;
  color: var(--author-content-custom-color);
}

html[data-theme="dark"] .author__content-custom {
  color: var(--global-text-color);    
}

.author__icon-custom {
  width: 20px;            /* size you want */
  height: 20px;
  vertical-align: middle; /* aligns with text */
  margin-right: 6px;      /* spacing before text */
  position: relative;
  bottom: 2.3px;  
}

.author__bio {
	font-weight: bold;
}







