

html[data-theme="dark"] {
	--global-bg-color: #102951;
	--global-bg-color-light: #1a3f69;
	--global-footer-bg-color: #2c384c;
	
	--global-hightlight-color: #ffb39c;
	--global-link-color: var(--global-hightlight-color);

	--author-content-custom-color: var(--global-text-color);
	--home-link-color: #ffece6;
	
	--abstract-border-color: var(--global-border-color);
	/*--abstract-background-color: color-mix(in srgb, black 50%, var(--global-bg-color) 50%);*/
	--abstract-background-color: var(--global-footer-bg-color);
	--abstract-color: var(--global-text-color);
	
	--button-expand-color: color-mix(in srgb, var(--global-text-color) 50%, var(--global-bg-color) 50%);
}

:root {
	--global-bg-color: #a9bbc9;
	--global-bg-color-light: #E9F4F8;
	--global-footer-bg-color: #ced7de;

	--global-hightlight-color: #921800;
	
	/*--global-text-color-light: #7a8288;*/
	--global-text-color-light: #3f4347;
	--global-link-color: var(--global-hightlight-color);
	--global-text-color: #1f2124;
	--home-link-color: #500d00; /*430900;*/
	
	/*
	--global-border-color: #454A4F;
	--global-border-color: #bdc1c4;
	*/
	--global-border-color: #7b7d7f;
	
	
	--global-masthead-link-color: var(--global-link-color);
	--author-content-custom-color: var(--global-link-color);
	
	/*--abstract-border-color: #52adc8;*/
	--abstract-border-color: var(--global-hightlight-color);
	/*--abstract-background-color: #eff6ff;*/
	--abstract-background-color: var(--global-bg-color-light);
	--abstract-color: #494e52;
	
	--bibtex-block-background-color: #c6c8cc;
  	--bibtex-block-border-color: #808488;
	--bibtex-block-color: #494e52;
	--bibtex-block-button-background-color: #9ca3af;
	--bibtex-block-button-hover-background-color: #878b8f;
	--bibtex-block-button-color: #212325;
	--bibtex-block-button-copied-background-color: #45927d;
	--bibtex-block-button-copied-color: #e5e7eb;
	
	--button-expand-background-color: color-mix(in srgb, var(--global-bg-color) 90%, gray 10%);
	--button-expand-color: color-mix(in srgb, var(--global-text-color) 50%, gray 50%);
	--button-expand-hover-background-color: color-mix(in srgb, var(--button-expand-background-color) 70%, gray 30%);
	--button-expand-active-background-color: color-mix(in srgb, var(--button-expand-background-color) 50%, gray 50%);
	--button-expand-border-color: var(--button-expand-color);
}