
.post-title {
	margin-bottom: 0em;
	font-size: 1.1rem;
}

.excerpt-with-abstract {
	margin-bottom: 0em;
	margin-top: 0em;
}

.excerpt-without-abstract {
	margin-bottom: 2.6em;
}

.archive__item-excerpt-expanded {
	font-size: 0.9rem;
}

section div.page-content {
  font-size: smaller;
  padding-bottom: 0em;
  margin-bottom: -0.5em;
}

.details-abstract-pub {
  padding: 0.5rem;
  border-radius: 8px;
  transition: box-shadow 0.3s, background 0.3s, border-color 0.3s;
  margin-bottom: 0.2em;
}

.details-abstract-pub.abstract-at-end-of-excerpt {
	margin-bottom: 1.3em;
	font: smaller;
}

.archive__item .details-abstract-pub {
	margin-bottom: 1.3em; 
	padding-top: 0em;
}

.details-abstract-pub[open] {
  border: 2px solid var(--abstract-border-color);   /* blue border */
  background: var(--abstract-background-color);         /* light blue background */
  /*box-shadow: 0 0 6px rgba(59, 130, 246, 0.4);*/
  color: var(--abstract-color);
  margin-bottom: 1em;
}

.details-abstract-pub p {
	font-size: smaller;
	margin-bottom: 0px;
	margin-top: 0px;
}

details p.details-p-pub {
	font-size: smaller;
	margin-bottom: 12px;
}

.details-summary-pub {
	font-size: smaller;
}

.link-with-icon {
  text-decoration: none;         /* remove underline from whole link */
  display: inline-flex;          /* keep icon + text aligned */
  align-items: center;
  gap: 0.5em;                    /* spacing between icon and text */
}

.link-with-icon .label {
  text-decoration: underline;    /* only underline the text */
}

.link-with-icon  .icon {
  position: relative;
  top: 2px;  /* move icon down */
}

.link-with-icon .icon.topZeroPad {
  top: 0px; /* overwrite default padding */
}

.links-sep {
  display: inline-block;
  width: 2px;              
  height: 1.5em;           
  opacity: 0.8;
  background: var(--global-text-color);    
  margin-top: 0em;
  margin-right: 0.9em;  
  margin-left: 1em;       
  vertical-align: middle;
  position: relative;
	top: 2px;
  border-radius: 1px;
}

.links-sep.line-start {
  display: none; 
  width: 0px;
	margin: 0em;
}

.links-sep.line-end {
  opacity: 0;	
}

.arvix-logo {
  margin-left: 0em;
}

.div-links {
	display: flex;
  margin: 1em;
  padding: 1em;
  flex-wrap: wrap;
	row-gap: 0.75rem; 
	justify-content: center;
}

.link-with-icon .icon #svg {
	fill: var(--global-link-color);
}


.button-expand-container {
  display: flex;
  justify-content: flex-end; /* pushes buttons to the right */
  gap: 0.2rem;               /* spacing between buttons */
}

.button-expand-container button {
  font-size: 0.8rem;           /* smaller text */
  padding: 0.1em 0.2em;         /* vertical and horizontal padding */
  border-radius: 4px;           /* rounded corners */
  border: 1px solid var(--button-expand-border-color);
  background-color: var(--button-expand-background-color);
  color: var(--button-expand-color);
  cursor: pointer;              /* pointer on hover */
  transition: background-color 0.2s;
}

.button-expand-container button:hover {
  background-color: var(--button-expand-hover-background-color); 
  transform: translateY(-0.5px);  
}

.button-expand-container button:active {
  background-color: var(--button-expand-active-background-color);
	transform: translateY(-0.5px);
}

.header-with-buttons {
  display: inline-flex;
	align-items: baseline; 
}

.button-expand-container.button-expand-container-aligned {
  display: inline-flex;
	float: right;
}














	
	